trigger:
  branches:
     include:
      - main

pool: Default

stages:
- stage: ApplicationBuildStage
  displayName: Application Build Stage
  jobs:
  - job: BuildJob
    displayName: Application Build Job
    steps:
     - task: Docker@2
       inputs:
         containerRegistry: 'hello01SC'
         repository: 'my-java-app'
         command: 'buildAndPush'
         Dockerfile: 'DockerFile'
         tags: |
           $(Build.BuildId)
           latest

- stage: deployImage
  displayName: deploy to aks
  jobs:
  - job: 
    steps:
     - task: KubernetesManifest@1
       inputs:
         action: 'deploy'
         connectionType: 'azureResourceManager'
         azureSubscriptionConnection: 'ApplicationSC'
         azureResourceGroup: 'MyRGc'
         kubernetesCluster: 'myAKSCluster'
         useClusterAdmin: true
     - task: PowerShell@2
       inputs:
         targetType: 'inline'
         script: |
           Write-Host "Updating image in manifest"
                               (Get-Content manifests/deployment.yaml) -replace 'hello01-f8a3d9g6hzgqa7du.azurecr.io/my-java-app:v1', "hello01-f8a3d9g6hzgqa7du.azurecr.io/my-java-app:$(Build.BuildId)" | Set-Content manifests/deployment.yaml

     
     - task: Kubernetes@1
       inputs:
         connectionType: 'Azure Resource Manager'
         azureSubscriptionEndpoint: 'ApplicationSC'
         azureResourceGroup: 'MyRGc'
         kubernetesCluster: 'myAKSCluster'
         useClusterAdmin: true
         command: 'apply'
         useConfigurationFile: true
         configuration: '$(System.DefaultWorkingDirectory)/manifest/*.yaml'
